<div class="article-container section-container-spacing">
  <div class="pillar-link-callout">
  <p>
    {{ section.settings.pillar_link_text }}
    <a href="{{ section.settings.pillar_link_url }}">{{ section.settings.pillar_link_title }}</a>
  </p>
  </div>
</div>

{% schema %}
{
  "name": "B2B Pillar Link Callout",
  "class": "pillar-link-callout--wrapper",
  "settings": [
    {
      "type": "paragraph",
      "content": "Crucial for SEO: Link back to your main Pillar Page."
    },
    {
      "type": "text",
      "id": "pillar_link_text",
      "label": "Intro Text",
      "default": "This article is part of my comprehensive resource:"
    },
    {
      "type": "text",
      "id": "pillar_link_title",
      "label": "Pillar Page Title",
      "default": "The Definitive Guide to AI-Powered B2B on Shopify Plus."
    },
    {
      "type": "url",
      "id": "pillar_link_url",
      "label": "Pillar Page URL"
    }
  ],
  "presets": [
    {
      "name": "B2B Pillar Link Callout"
    }
  ]
}
{% endschema %}
